node_modules/
dist/
.android-sdk/
.tmp-commandlinetools-mac.zip
.expo/
.expo-shared/
.DS_Store
data/*.sqlite
data/*.sqlite-*
apps/web/dist/
apps/mobile/.expo/
apps/mobile/dist-android/
apps/mobile/android/.gradle/
apps/mobile/android/build/
apps/mobile/android/app/build/
coverage/
outputs/*.apk
*.keystore
dist-ts/
